{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
   content %}
<!--
<form method="POST">
  <h3 align="center">Jesse Landis</h3>
  <br />
</form>
<!DOCTYPE html>
<html>
<body style="background-color: antiquewhite;"
<h1 style="color:black; font-style:oblique">About</h1>

<img src="Background.jpeg" alt="Flowers in Chania" width="460" height="345">

  <p style="color:rgb(133, 105, 64); font-style: italic;">Hi my name is Jesse Landis and I am a senior at the University of Florida. I am currently looking for a job or internship that combines these two disciplines.</p>
</body>
</html>

<form action="https://github.com/jesse0980">
  <button type="submit" class="btn btn-primary">Github Repository</button>
</form>
{% endblock %}
-->
